h1, h2, h3 {
  margin: 0;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 64px;
  font-weight: normal;
}

h1 span {
  font-weight: bold;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  color: rgba(10,10,10,0.6);
}

body{
  background-color: #E5E5E5;
  margin: 0;
}

header{
  background-color: white;
  padding: 16px 64px;
}

.headzin{
  display: inline-block;
  padding: 10px;
}

.foto{
  width: 8%;
  height: auto;
  border: 5px solid #00BFFF;
  border-radius: 50%;
}
