h1 {
  font-family: "Playfair Display", serif;
  font-size: 64px;
  font-weight: normal;
}

h1 span {
  font-weight: bold;
}

p {
  font-family: "Open Sans", sans-serif;
  font-soze: 24px;
  color: rgba(0,0,0,0.6);
}

body{
  background-color: #E5E5E5
}

header{
  background-color: white
}
div{
  display: inline-block
}

.headzin{
  margin: 10px
}
